:root {
  --navbar-green: #009578;
  --conference-green: #52bf90;
  --conference-blue: #77aaff;
  --conference-purple: #a953dd;
  --conference-darker-green: #419873;
  --conference-darker-blue: #5588ff;
  --conference-darker-purple: #8734c3;
  --dark: #333333;
  --mid-gray: #aeaeae;
  --light-gray: #eeeeee;
  --text-box-background: #f8f8f8;
  --text-box-font-color: #5a5a5a;
  --deletion-red: #ff2222;
}
.nav {
  bottom: 0;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

/* html {
  background-color: lightgray;
}*/
.smartphone {
  position: relative;
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 428px;
  height: 926px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.battery-and-stuff {
  height: 2.5rem;
}
::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

/*
.smartphone {
  position: relative;
  width: 428px;
  height: 926px;
  margin: auto;
  border: 20px black solid;
  border-top-width: 70px;
  border-bottom-width: 70px;
  border-radius: 36px;
}

.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.smartphone:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: -85px;
  transform: translate(-50%, -50%);
  background: rgb(71, 71, 71);
  border-radius: 50%;
}
*/

.smartphone .content {
  flex-grow: 1;
  background-color: white;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
}
.smartphone h1 strong {
  color: var(--navbar-green);
}
.smartphone h3 {
  font-size: 18px;
  color: #aeaeae;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 16px;
}

.smartphone img {
  width: 30px;
  height: 30px;
  vertical-align: 60%;
  margin-top: -110px;
  margin-left: 375px;
}

.smartphone .content h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.smartphone div #breakfast {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 28px;
  top: 5px;
  background: #f5efbb;
  border-radius: 10px;
}

.smartphone .breakfast-description {
  margin-left: 35px;
  vertical-align: 160%;
  font-size: 22px;
}
.smartphone div #breakfast h1 {
  font-size: 48px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smartphone div #breakfast-time {
  vertical-align: 100%;
  margin-left: 235px;
  font-size: 16px;
  margin-top: -79px;
  color: #aeaeae;
}

.smartphone div #breakfast-products {
  vertical-align: 100%;
  margin-left: 120px;
  font-size: 16px;
  margin-top: 5px;
  color: #aeaeae;
}

/*
.smartphone #profile {
  background-color: #52bf90;
  width: 45px;
  height: 45px;
  left: 378px;
  top: 70px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 0.1px;
}

.smartphone #profile-pic {
  width: 39px;
  height: 37px;
  right: 3px;
  top: 115px;
  position: absolute;
  z-index: 100;
}

*/

.smartphone #create {
  color: #ffffff;
  background-color: #a953dd;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  padding: 13px 20px;
  gap: 10px;
  position: absolute;
  width: 364px;
  height: 59px;
  border-radius: 10px;
  border-style: none;
  left: 32px;
  top: 793px;
  font-weight: 600;
}

.smartphone #create:hover {
  background-color: #8734c3;
}

.smartphone div #taco-night {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 28px;
  top: 55px;
  background: #f3bbf5;
  border-radius: 10px;
}

.smartphone div #taco-night h1 {
  font-size: 48px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smartphone .taco-description {
  margin-left: 35px;
  font-size: 22px;
}

.smartphone div #taco-time {
  vertical-align: 100%;
  margin-left: 248px;
  font-size: 16px;
  margin-top: -28px;
  color: #aeaeae;
}

.smartphone div #taco-products {
  vertical-align: 100%;
  margin-left: 120px;
  font-size: 16px;
  margin-top: 5px;
  color: #aeaeae;
}

.smartphone div #halloween {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 28px;
  top: 55px;
  background: #f5bbc8;
  border-radius: 10px;
}

.smartphone div #halloween h1 {
  font-size: 48px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smartphone .halloween-description {
  margin-left: 35px;
  font-size: 22px;
}

.smartphone div #halloween-time {
  vertical-align: 100%;
  margin-left: 248px;
  font-size: 16px;
  margin-top: -28px;
  color: #aeaeae;
}

.smartphone div #halloween-products {
  vertical-align: 100%;
  margin-left: 120px;
  font-size: 16px;
  margin-top: 5px;
  color: #aeaeae;
}

.smartphone .form-popup {
  display: none;
  position: fixed;
  border: 2px solid #aeaeae;
  border-radius: 10px;
  left: 936px;
  top: 500px;
  z-index: 9;
}

.smartphone .form-container {
  background-color: #ffffff;
  width: 300px;
  height: 226px;
  box-sizing: border-box;
}

.smartphone .form-container input[type="text"] {
  position: absolute;
  width: 216px;
  height: 38.74px;
  background: #f8f8f8;
  border: 1px solid #aeaeae;
  border-radius: 10px;
}

.smartphone .form-container #list-name {
  left: 45px;
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 275;
  font-size: 12px;
}

.smartphone .form-container #list-icon {
  left: 45px;
  top: 90px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 275;
  font-size: 12px;
}

.smartphone .form-container .submit {
  cursor: pointer;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 136px;
  height: 46.28px;
  left: 80px;
  top: 160px;
  background-color: #a953dd;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.smartphone .form-container .submit:hover {
  background-color: #8734c3;
}

.smartphone .close::before {
  content: "\d7";
  font-size: 28px;
  color: #aeaeae;
  position: absolute;
  left: 275px;
  cursor: pointer;
}

.smartphone .close:hover {
  color: #eeeeee;
}
