:root {
  --navbar-green: #009578;
  --conference-green: #52bf90;
  --conference-blue: #77aaff;
  --conference-purple: #a953dd;
  --conference-darker-green: #419873;
  --conference-darker-blue: #5588ff;
  --conference-darker-purple: #8734c3;
  --dark: #333333;
  --mid-gray: #aeaeae;
  --light-gray: #eeeeee;
  --text-box-background: #f8f8f8;
  --text-box-font-color: #5a5a5a;
  --deletion-red: #ff2222;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav {
  bottom: 0;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: var(--navbar-green);
}
.smartphone {
  position: relative;
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 428px;
  height: 926px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.battery-and-stuff {
  height: 2.5rem;
}
::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

/*
.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.smartphone:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: -85px;
  transform: translate(-50%, -50%);
  background: rgb(71, 71, 71);
  border-radius: 50%;
}
*/

/* Header */
.main-header {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-header h1 {
  color: var(--navbar-green);
  font-size: 2rem;
  font-weight: 700;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.smartphone .main-contents {
  flex-grow: 1;
  background-color: white;
  overflow: scroll;
}

/* .smartphone .box {
  border: none;
  overflow-y: scroll;
  height: 830px;
} */

/* .smartphone #back {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  top: 175px;
}

.smartphone #profile {
  background-color: #52bf90;
  width: 45px;
  height: 45px;
  left: 378px;
  top: 25px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 0.1px;
}

.smartphone #profile-pic {
  width: 39px;
  height: 37px;
  right: 3px;
  top: 5px;
  position: absolute;
  z-index: 100;
}

.smartphone h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 80px;
}

*/
.smartphone h3 {
  font-size: 20px;
  color: #aeaeae;
  font-weight: 400;
  margin-left: 25px;
  margin-bottom: 1rem;
}

.smartphone ul {
  list-style: none;
  padding-left: 30px;
}

.smartphone li {
  list-style-type: none;
  position: relative;
  font-size: 22px;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.smartphone li::content {
  padding-left: 400px;
}

.smartphone li::before {
  display: inline-block;
  position: relative;
  width: 39px;
  height: 41px;
  background-color: #eeeeee;
  content: " ";
  border-radius: 50%;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 12px;
  left: -10px;
}

.smartphone .close {
  cursor: pointer;
  position: absolute;
  right: 5%;
  color: #aeaeae;
}

.smartphone .close::after {
  content: "\d7";
  font-size: 35px;
}

.smartphone .close:hover {
  color: #eeeeee;
}

.smartphone li.checked {
  color: #aeaeae;
  text-decoration: line-through;
}

.smartphone li.checked::before {
  background-color: #77aaff;
}

.smartphone li.checked::after {
  content: "";
  color: #5588ff;
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 7px;
  left: 24px;
  transform: rotate(46deg);
  height: 20px;
  width: 10px;
}

.smartphone #add-button {
  color: #ffffff;
  background-color: #a953dd;
  /* position: fixed;
  display: inline-block;
  left: 1040px;
  top: 905px;
  text-align: center;*/
  width: 85px;
  height: 85px;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
}

.smartphone #add-button:hover {
  background-color: #8734c3;
}

/* .smartphone #add-button2 {
  color: #ffffff;
  background-color: #a953dd;
  position: fixed; 
  /* display: inline-block; 
  left: 1040px;
  top: 815px;
  text-align: center;
  width: 85px;
  height: 85px;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
}

.smartphone #add-button2:hover {
  background-color: #8734c3;
}  */
/* .smartphone .form-popup {
  display: none;
  position: fixed;
  border: 2px solid #aeaeae;
  border-radius: 10px;
  left: 936px;
  top: 500px;
  z-index: 9;
}

.smartphone .form-container {
  background-color: #ffffff;
  width: 300px;
  height: 226px;
  box-sizing: border-box;
}

.smartphone .form-container input[type="text"] {
  position: absolute;
  width: 216px;
  height: 38.74px;
  background: #f8f8f8;
  border: 1px solid #aeaeae;
  border-radius: 10px;
}

.smartphone .form-container #food-name {
  left: 45px;
  top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 275;
  font-size: 12px;
}

.smartphone .form-container #food-group {
  left: 47px;
  top: 90px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 275;
  font-size: 12px;
  color: #5a5a5a;
  position: absolute;
  width: 220px;
  height: 38.74px;
  background: #f8f8f8;
  border: 1px solid #aeaeae;
  border-radius: 10px;
}

.smartphone .form-container .submit {
  cursor: pointer;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 136px;
  height: 46.28px;
  left: 80px;
  top: 160px;
  background-color: #a953dd;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}
*/
.smartphone .form-container .submit:hover {
  background-color: #8734c3;
}

.smartphone .form-container .close {
  position: absolute;
  left: 275px;
  top: 2px;
  color: #aeaeae;
  cursor: pointer;
}

.smartphone .form-container .close::after {
  content: "\d7";
  font-size: 30px;
}

.smartphone .form-container .close:hover {
  color: #eeeeee;
}

.form-container {
  display: none;
}
.form-container.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: white;
  border: 2px solid var(--mid-gray);
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1000;
}

/* Add new item modal */
.item-modal {
  display: none;
}
.item-modal.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 1px solid red;

  background-color: white;
  border: 2px solid var(--mid-gray);
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1000;
}

.item-modal .close-modal-btn {
  display: absolute;
  top: 0;
  float: right;
}
.item-modal .close-modal-btn:hover {
  cursor: pointer;
  opacity: 0.3;
}
.item-modal .form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

.item-modal .form-container .options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.item-modal .form-container .item-form-field {
  border: 1px solid var(--mid-gray);
  font-size: 1rem;
  width: 15rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--text-box-background);
  color: var(--text-box-font-color);
}

 .item-modal .submit {
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--conference-purple);
  color: white;
}
.item-modal .submit:hover {
  cursor: pointer;
  filter: brightness(1.2);
} 

#microphone {
  cursor: pointer;
}


/* Terrible */
.voice-and-add-wrapper {
  display: grid;
  grid-template-columns: 30% 60%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.voice-and-add-wrapper #voice {
  justify-self: center;
}
.voice-and-add-wrapper #voice + div {
  padding-left: 1rem;
}
